@value colors: "../../globalCSS/colors.css";
@value _backgroundcolor, _darkcolor, _whitecolor from colors;

.mainWrapper {
  display: flex;
}

.imageWrapper {
  position: relative;
  background-color: _whitecolor;
  width: 70%;
}

.infoWrapper {
  width: 30%;
  padding: 10px;
}

.bigImage {
  display: block;
  max-width: 100%;
  max-height: 800px;
  margin: auto;
}

.miniImagesList{
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -150px;
}

.lines {
  height: 1px;
  margin: 10px 0 10px 0;
  background-color: _darkcolor;
}

.buttons {
  padding: 10px;
  border: 2px solid _darkcolor;
  margin: 5px;
  cursor: pointer;
  border-radius: 2px;
  background-color: _backgroundcolor;
}
