@value colors: "../../globalCSS/colors.css";
@value _darkcolor, _whitecolor from colors;


.main {
  width: 300px;
  min-height: 500px;
  margin: 2px
  /* border: 1px solid blue; */
}

.mainWrapperSmall {
  /* background: green; */
  /* border: 1px solid green; */
}

.mainWrapperBig {
  display: block;
  position: absolute;
  max-width: 302px;
  border: 1px solid _darkcolor;
  opacity: 1;
  transform: scale(1.1);
  transition: all .3s ease;
  background: _whitecolor;
}

.wrapperImgVisible {
  display: block;
}

.wrapperImgUnvisible {
  display: none;
}

.wrapperText {
  margin: 4px;
}

a { 
  color: inherit;
} 

a:hover {
  color: inherit;
}
