@value colors: "../../globalCSS/colors.css";
@value _darkcolor, _whitecolor, _backgroundcolor from colors;

.main {
  width: 300px;
  min-height: 500px;
  margin: 2px
}

.mainWrapperBig {
  display: block;
  position: absolute;
  max-width: 302px;
  border: 1px solid _darkcolor;
  opacity: 1;
  transform: scale(1.1);
  transition: all .3s ease;
  background: _whitecolor;
  padding: 1px;
}

.wrapperImgVisible {
  display: block;
}

.wrapperImgUnvisible {
  display: none;
}

.wrapperText {
  margin: 4px;
}

a { 
  color: inherit;
} 

a:hover {
  color: inherit;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  width: 300px;
}

.image {
  border: 1px solid _backgroundcolor;
  border-radius: 4px;
  padding: 5px;
  height: 290px;
}

