@value colors: "../../globalCSS/colors.css";
@value _backgroundcolor, _darkcolor from colors;

.mainWrapper {
  display: flex;
  flex-direction: row;
}

.visibleTrue {
  margin: 5px;
}

.visibleFalse {
  display: none;
}

.buttonWrapper {
  margin: 5px;
}