.mainWrapper {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.visibleTrue {
  /* display: block; */
  margin: 5px;
}

.visibleFalse {
  display: none;
}

.buttonWrapper {
  background-color: #343a40;
}