.imageSlide {
  margin: 10px;
	height: 500px;
}

.left {
  position: absolute;
  top: 35%;
  left: 3%;
  cursor: pointer;
}

.right {
  position: absolute;
  top: 35%;
  right: 3%;
  cursor: pointer;
}